@import "utils/variables";
@import "components/nav";
@import "components/header";
@import "components/adress-header";
@import "components/banner";
@import "components/lorem-ipsum";
@import "components/what-are-we-doing";
@import "components/our-team";
@import "components/our-clients";
@import "components/footer";
@import "components/newsletter-signup";
@import "components/buttons_portfolio";
@import "components/modal-window";
@import "components/portfolio";
@import "components/logo";
@import "components/mobile-menu";
@import "base/container";

body {
  font-family: "Roboto", "Verdana", "Tahoma", sans-serif;
  color: map-get($colors, "secondary");
}

// *,
// ::after,
// ::before {
//   box-sizing: border-box;
//   background-color: rgba(22, 23, 22, 0.2);
// }

.link {
  &:hover {
    color: map-get($colors, "accent");
  }
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.backdrop {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: map-get($colors, "backdrop");
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: transform, visibility, opacity;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

.active {
  color: map-get($colors, "accent");

  &::after {
    content: "";
    position: relative;
    top: 22px;
    display: block;
    border-radius: 2px;
    border-top: 4px solid map-get($colors, "accent");
  }
}

.container-social-media {
  cursor: pointer;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 44px;
  width: 206px;
  // margin-bottom: 30px;
}

@media screen and (min-width: 1200px) {
  .container-social-media {
    margin-bottom: 30px;
  }
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.is-hidden .modal {
  transform: translate(100%);
}
