/* footer component  */
.footer {
  background-color: map-get($colors, "footerBackground");
  padding-top: 60px;
  padding-bottom: 60px;

  &__accent {
    color: map-get($colors, "accent");
  }

  &__inline-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__logo {
    @include logoFont(map-get($colors, "primaryLight"));
    flex-direction: row;
    margin-right: 0;
    margin: auto;
  }

  &__adress {
    // margin-right: -30px;
    text-align: center;
  }

  &__adress > a:last-of-type {
    margin-bottom: -9px;
  }

  &__link {
    @extend .headerFooterLinkFont;
    text-align: center;
    margin-bottom: 9px;
    display: flex;
    flex-direction: column;
    text-decoration: none;
    color: map-get($colors, "secondary");

    &:hover {
      color: map-get($colors, "accent");
    }
  }

  &__city-street {
    @extend .adressCityStreetFont;
    margin-bottom: 9px;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
  }

  &__social-media {
    @extend .footerHeaderFont;
    margin-top: 60px;
    margin-bottom: 60px;
    text-align: center;
  }

  &__social-header {
    margin-bottom: 20px;
  }

  &__social-media-icon {
    fill: map-get($colors, "primaryLight");
    background-image: url(../images/circle_footer.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    margin: auto;
    height: 44px;
    width: 44px;

    &:hover {
      background-image: url(../images/circle.svg);
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
      margin: auto;
      height: 44px;
      width: 44px;
    }
  }
}

@media screen and (min-width: 768px) {
  .footer {
    &__inline-container {
      flex-direction: row;
    }

    &__social-media {
      margin-top: 0;
    }

    &__adress {
      margin-right: 144px;
    }
  }
}
@media screen and (min-width: 1200px) {
  .footer {
    &__inline-container {
      justify-content: start;
    }

    &__adress {
      text-align: left;
      margin-right: 70px;
    }

    &__city-street {
      margin-right: 30px;
      width: 246px;
    }

    &__link {
      text-align: left;
      margin-right: 30px;
    }

    &__social-media {
      margin-bottom: 0;
      text-align: left;
    }
  }
}
