/* header component */
.header {
  border-bottom: 1px solid map-get($colors, "headerBorder");
  display: flex;
  justify-content: center;

  &__container {
    // width: calc(100vw - 23px);
    width: 100vw;
    margin-left: 0;
    margin-right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__menu-toggle {
    margin: 0;
    padding: 0;
    background-color: transparent;
    cursor: pointer;
    border: none;
    border-radius: 50%;
    outline: none;
    &:hover {
      fill: map-get($colors, "accent");
    }
  }
  &__menu-mobile {
    margin-right: 23px;
  }

  &__menu {
    display: flex;
    align-items: center;
  }

  &__logo {
    margin-left: 15px;
    @include logoFont(map-get($colors, "primary"));
  }

  &__accent {
    color: map-get($colors, "accent");
  }
}

@media screen and (min-width: 768px) {
  .header {
    &__menu-mobile {
      display: none;
    }

    &__container {
      width: 768px;
    }
  }
}

@media screen and (min-width: 1200px) {
  .header {
    &__container {
      width: 1200px;
      margin-left: auto;
      margin-right: auto;
    }

    &__menu-mobile {
      display: none;
    }

    &__container {
      width: 1200px;
    }
  }
}
