/* lorem-ipsum component */
.lorem-ipsum {
  // margin-top: 94px;
  // margin-bottom: 94px;

  margin-top: 60px;
  margin-bottom: 60px;

  &__list {
    list-style: none;
    margin-top: -30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  &__item {
    @extend .loremIpsumItemFont;
    // flex-basis: 270px;
    width: calc(100vw - 30px);
    margin-left: 15px;
    margin-right: 15px;
  }

  &__header {
    @extend .loremIpsumHeaderFont;
    list-style: none;
  }

  &__container {
    background: map-get($colors, "sectionBackground");
    border-radius: 4px;
    height: 120px;
    // width: 450px;
    // width: calc(100vw - 30px);
    // margin-left: 15px;
    // margin-right: 15px;
    // padding-left: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) {
  .lorem-ipsum {
    &__container {
      width: 354px;
    }

    &__header {
      text-align: left;
    }
    &__item {
      width: 354px;
      margin-left: 0;
      margin-right: 0;
    }
  }
}

@media screen and (min-width: 1200px) {
  .lorem-ipsum {
    margin-top: 94px;
    margin-bottom: 94px;
    &__item {
      margin-left: 30px;
    }

    &__list {
      margin-left: -30px;
    }
    &__container {
      width: 270px;
    }

    &__item {
      width: 270px;
      margin-left: 0;
      margin-right: 0;
    }

    &__header {
      text-align: left;
    }
  }
}
