.mobile-menu {
  &__items {
    padding: 0;
    margin: 0;
    list-style: none;
    margin-bottom: 302px;
  }

  &__link {
    display: block;
    @extend .mobileMenuFont;
    padding-bottom: 32px;
    color: map-get($colors, "primary");
    text-decoration: none;
  }

  &__toggle {
    position: absolute;
    top: 21px;
    right: 25px;
    margin-right: 25px;
    color: map-get($colors, "primary");

    min-height: 40px;
    min-width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;

    // margin: 0;
    padding: 0;
    background-color: transparent;
    cursor: pointer;
    border: none;
    border-radius: 50%;
    outline: none;
    &:hover {
      fill: map-get($colors, "accent");
    }
  }
  &__container {
    position: fixed;
    top: 0;
    left: 0;
    width: calc(100vw + 30px);
    height: 100vh;
    padding: 48px 40px 48px 40px;
    background-color: #ffffff;
    z-index: 999;

    transform: translateX(100%);
    transition: transform 250ms ease-in-out;

    &.is-open {
      transform: translateX(0);
    }
  }

  &__adress-phone {
    @extend .mobileAdressPhoneFont;
    margin-bottom: 32px;
    display: flex;
    flex-direction: column;
    margin-right: 40px;
    text-decoration: none;
    color: map-get($colors, "secondary");

    &:hover {
      color: map-get($colors, "accent");
    }
  }

  &__adress-mail {
    @extend .mobileAdressMailFont;
    display: flex;
    flex-direction: column;
    margin-right: 40px;
    margin-bottom: 64px;
    text-decoration: none;
    color: map-get($colors, "secondary");

    &:hover {
      color: map-get($colors, "accent");
    }
  }

  &__socials {
    margin-left: -10px;
    margin-right: -10px;
    padding: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
  }
  &__socials-link {
    @extend .mobileSocialsLinkFont;
    margin-left: 10px;
    margin-right: 10px;
  }

  &__socials-item {
    border-right: 1px solid rgba(33, 33, 33, 0.2);
  }

  &__socials-item:last-child {
    border-right: none;
  }
}

@media screen and (max-width: 430px) {
  .mobile-menu {
    &__adress-phone {
      font-size: 28px;
    }
  }
}
