/* nav component */
.nav {
  display: none;
  padding-left: 0px;
  margin-left: -46px;
  list-style: none;

  &__item {
    margin-left: 46px;
  }

  &__link {
    @extend .navLinkFont;
  }
}

@media screen and (min-width: 768px) {
  .nav {
    display: flex;
  }
}
