/* portfolio component  */

.portfolio {
  margin-bottom: 60px;

  &__tablet-img {
    display: none;
  }
  &__desktop-img {
    display: none;
  }

  &__list {
    padding-bottom: -30px;
    margin-top: 0;
    margin-bottom: 0;
    list-style: none;
    padding-left: 0px;
    display: block;
    flex-wrap: wrap;
    margin-left: -30px;
    justify-content: space-between;
  }

  &__title {
    @extend .portfolioTitleFont;
    margin-bottom: 4px;
    margin-top: 20px;
    padding-left: 24px;
    padding-right: 24px;
  }

  &__short-description {
    @extend .portfolioShortDescriptionFont;
    margin-top: 0;
    margin-bottom: 0;
    padding: 0 24px 20px 24px;
  }

  &__description-text {
    @extend .portfolioDescriptionFont;
    margin-top: 0;
    margin-bottom: 0;
  }
}

.portfolio__item-box {
  width: 100%;
  background-color: map-get($colors, "primaryLight");
  border: 1px solid map-get($colors, "portfolioBorder");
  position: relative;
  overflow: hidden;

  &:hover .portfolio__item-description {
    cursor: pointer;
    transform: translatey(0);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

.portfolio__item {
  position: relative;
  margin-left: 30px;
  margin-bottom: 30px;
  width: 450px;
  background-color: map-get($colors, "primaryLight");
  border: 1px solid map-get($colors, "portfolioBorder");
  overflow: hidden;

  &:hover {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }

  &-description {
    padding: 77px 24px 77px 24px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: map-get($colors, "portfolioDescriptionBackground");
    opacity: 0.9;
    transform: translatey(100%);
    transition: transform 250ms ease;
  }
}

@media screen and (min-width: 768px) {
  .portfolio {
    &__list {
      display: flex;
    }
    &__mobile-img {
      display: none;
    }
    &__tablet-img {
      display: block;
    }

    &__item {
      max-width: 354px;
      flex-basis: calc((100% - 30px) / 2);
    }

    &__item:last-child {
      margin-bottom: 0;
    }
  }
  .portfolio__item-description {
    padding: 49px 45px 49px 24px;
  }
}

@media screen and (min-width: 1200px) {
  .portfolio {
    margin-bottom: 94px;
    &__list {
      display: flex;
    }
    &__tablet-img {
      display: none;
    }

    &__desktop-img {
      display: block;
    }

    &__mobile-img {
      display: none;
    }

    &__item-box {
      flex-basis: calc((100% - 60px) / 3);
    }

    &__item {
      max-width: 370px;
      flex-basis: calc((100% - 60px) / 3);
    }

    &__item:last-child {
      margin-bottom: 30px;
    }
  }
  .portfolio__item-description {
    padding: 49px 45px 49px 24px;
  }
}
