/* what-are-we-doing component */
.what-are-we-doing {
  display: flex;
  justify-content: center;
  margin-bottom: 0;

  &__header {
    @extend .sectionHeaderFont;
    margin-top: 0;
    margin-bottom: 50px;
  }

  &__list {
    padding-left: 0px;
    margin-bottom: 0px;
    padding-bottom: 94px;
    list-style: none;
    margin-top: 0;
    margin-left: -30px;
    display: flex;
    justify-content: center;
  }

  &__item {
    position: relative;
    overflow: hidden;
    margin-left: 30px;
    flex-basis: calc((100% - 90px) / 3);
    max-width: 370px;
  }

  &__img {
    display: block;
  }

  &__description {
    position: absolute;
    bottom: 0;
    width: 370px;
    margin: 0;
    background-color: map-get($colors, "whatAreWeDoingDescriptionBackground");
    opacity: 0.8;
    display: flex;
  }

  &__text {
    @extend .whatAreWeDoingFont;
    padding: 27px 90px 27px 90px;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
    border-bottom-left-radius: 4px;
  }
}
